*
{
    padding:0;
    margin: 0;
    font-family: 'Poppins', sans-serif;;
}
.div
{
    background-color: #394867;
}
.div ul li{
    display: inline-block;
    padding: 0.25%;
    padding-bottom: 1%;
    margin-top: 1%;
    margin-left: 18%;
    list-style: none;
    color:white;
}
.div ul li a:hover
{
    text-decoration: none;
    color: black;
}
.div ul li a
{
    color: #f1f6f9;
    text-decoration: none;
}
@media screen and (max-width: 768px) {
    body {
        margin:0.5%;
    }
    .div ul li
    {
        display: inline-block;
        margin-left:12%;
    }

}
@media screen and (max-width: 360px) {
    .div ul li
    {
        display: inline-block;
        margin-left:2%;
        font-size:60%;
    }
}
/*
@media screen and (max-width: 1024px) {
    .div ul li
    {
        display: inline-block;
        margin-left:5%;
        font-size:150%;
    }
}
*/